.acquired-skills {
  &__heading {
    padding-top: 136px;
  }
  &__inner {
    @include flex(row, flex-start);
    padding: 90px 0 140px;
    gap: 109px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    .item {
      max-width: 330px;
      min-height: 272px;
      background: $light-blue-bg;
      @extend %heading-font-weight;
      color: $main;
      padding: 19px 37px 27px 30px;
      &__numbering {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $accent;

        font-size: 23px;
        line-height: 50px;
        text-align: center;
      }
      &__txt {
        font-size: 24px;
        line-height: 34px;
        margin-top: 31px;
        &:nth-child(2) {
          max-width: 236px;
        }
        &:nth-child(3) {
          width: 216px;
        }
        &:nth-child(4) {
          width: 223px;
        }
      }
    }
  }
  &__img-wrapper {
    @include photo-border-style(555px, 650px, -31px, -31px);
  }
}

// Media
@media (max-width: 1400px) {
  .acquired-skills {
    &__img-wrapper {
      width: clamp(14.688rem, -22.448rem + 64.58vw, 34.063rem);
      height: clamp(17.5rem, -25.625rem + 75vw, 40rem);
    }
  }
}
@include wide-screen {
  .acquired-skills {
    &__inner {
      gap: 77px;
    }
    &__img-wrapper {
      border: 7px solid $accent;
    }
  }
}
@include desktop {
  .acquired-skills__inner {
    flex-direction: column-reverse;
    padding: 50px 0 70px;
    gap: 50px;
  }
}
@media (max-width: 545px) {
  .acquired-skills__items {
    grid-template-columns: 1fr;
  }
  .acquired-skills__img-wrapper {
    border: 0;
    img {
      top: 0;
      left: 0;
    }
  }
}
