.articles {
  background: $light-blue-bg;

  &__heading {
    padding-top: 126px;
  }

  &__inner {
    padding: 70px 0 150px;
    position: relative;
  }
  .slide {
    flex-shrink: 0;
    width: 420px;
    background: $wight;
    border-radius: 5px;
    &__img-wrapper {
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
      }
    }
    &__content {
      padding: 25px 30px 27.66px 30px;
      &-title {
        color: $main;
        max-width: 325px;
        letter-spacing: 0.24px;
      }
      &-txt {
        padding: 19px 0 11px;
        line-height: 30.4px;
      }
      &-footer {
        @include flex(row, space-between);
        color: $main;

        a {
          @extend %heading-font-weight;
          width: 95px;
          font-size: 19px;
          letter-spacing: 0.38px;
          border-bottom: 2px solid $main;
          padding-bottom: 4.5px;
          transition: all 0.5s ease;
          &:hover {
            color: $accent;
            border-color: $accent;
          }
        }
        p {
          width: 128px;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .swiper-button-forward,
  .swiper-button-rearward {
    position: absolute;
    background: $accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 42.3%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .swiper-button-forward {
    right: -25px;
  }
  .swiper-button-rearward {
    left: -25px;
  }
  .swiper-button-forward:hover,
  .swiper-button-rearward:hover{
    background: $main;
    .arrow{
      stroke: $accent;
    }
  }
}
@media (max-width: 1400px) {
  .articles__inner {
    width: 94%;
    margin: 0 auto;
  }
}
@include desktop {
  .articles__inner {
    padding-bottom: 0;
    padding-top: 40px;
  }
}
@include mobile {
  .articles {
    .swiper-button-rearward,
    .swiper-button-forward {
      width: 40px;
      height: 40px;
      top: 39%;
      svg{
        width: 25%;
      }
    }
    .swiper-button-forward {
      right: -15px;
    }
    .swiper-button-rearward {
      left: -15px;
    }

    .slide__content {
      padding: 15px;
      &-title {
        font-size: clamp(1.25rem, 0.75rem + 2.5vw, 1.5rem);
      }
      &-txt {
        font-size: clamp(1.063rem, 0.813rem + 1.25vw, 1.188rem);
      }
      &-footer a {
        font-size: clamp(1.063rem, 0.813rem + 1.25vw, 1.188rem);
      }
    }
  }
}
