.articles {
  background: $light-blue-bg;
  &__heading {
    padding-top: 126px;
  }
  &__inner {
    padding: 70px 0 150px;
    position: relative;
    z-index: 30;
  }
  .slide {
    flex-shrink: 0;
    max-width: 420px;
    background: $wight;
    border-radius: 5px;
    &__img-wrapper {
      img {
        border-radius: 5px 5px 0 0;
      }
    }
    &__content {
      padding: 25px 30px 27.66px 30px;
      &-title {
        color: $main;
        max-width: 325px;
        letter-spacing: 0.24px;
      }
      &-txt {
        padding: 19px 0 11px;
        line-height: 30.4px;
      }
      &-footer {
        @include flex(row, space-between);
        color: $main;

        a {
          @extend %heading-font-weight;
          width: 95px;
          font-size: 19px;
          letter-spacing: 0.38px;
          border-bottom: 2px solid $main;
          padding-bottom: 4.5px;
          transition: all 0.5s ease;
          &:hover {
            color: $accent;
            border-color: $accent;
          }
        }
        p {
          width: 128px;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    background: $accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 45%;
    z-index: 50;
    &::after {
      color: $main;
      font-size: 29px;
      font-weight: 700;
    }
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
}
@media (max-width: 1150px) {
  .articles__inner {
    width: 860px;
  }
}
@include desktop {
  .articles__inner {
    max-width: 300px;
    padding-bottom: 0;
    padding-top: 40px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}
@include mobile {
  .articles .slide__content {
    padding: 15px;
    &-title {
      font-size: clamp(1.25rem, 0.75rem + 2.5vw, 1.5rem);
    }
    &-txt {
      font-size: clamp(1.063rem, 0.813rem + 1.25vw, 1.188rem);
    }
    &-footer a {
      font-size: clamp(1.063rem, 0.813rem + 1.25vw, 1.188rem);
    }
  }
}
