.footer {
  background-color: $main;
  height: auto;
  &__container {
    padding: 92px 15px 24px;
  }
  &__row {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 436.39px;
    align-items: start;
    gap: 30px;
    padding-bottom: 102px;
  }
  &__column {
    &:nth-child(2) {
      padding-left: 50px;
    }
    &:nth-child(4) {
      padding-left: 21px;
    }
    .socials {
      @include flex(row, flex-start);
      gap: 10px;
      margin-top: 20px;
      &__wrapper {
        @include socials(
          55px,
          55px,
          55px,
          1px,
          $accent,
          transparent,
          $wight,
          $accent,
          $accent,
          $wight
        );
      }
    }
    &-title {
      line-height: 33.6px;
      letter-spacing: 0.384px;
      color: $wight;
      padding-bottom: 18px;
    }
    &-list {
      @include flex(column, flex-start);
      align-items: flex-start;
      gap: 9px;
      padding-left: 11px;
    }
    &-item {
      font-size: 18px;
      color: $secondary-color-txt;
      padding-left: 28px;
      padding-top: 10px;
      @extend %hoverlink;
      position: relative;
      &::before {
        left: 0;
        @extend %custom-list-style-mini;
      }
      &::after {
        left: 7px;
        @extend %custom-list-style-mini;
      }
      a::before {
        left: 14px;
        @extend %custom-list-style-mini;
      }
    }
    &-contact {
      padding-top: 9px;
      .item {
        font-size: 17px;
        line-height: 27px;
        color: $secondary-color-txt;
        @extend %hoverlink;
        @include flex(row, flex-start);
        align-items: flex-start;
        gap: 28px;
        h6 {
          width: 81px;
        }
        a {
          max-width: 234px;
          span {
            font-size: 18px;
          }
        }
        & + * {
          padding-top: 28px;
        }
      }
    }
  }
  &__copyright {
    text-align: center;
    font-size: 17px;
    line-height: 25.5px;
    letter-spacing: 0.17px;
    color: $wight;
    padding-left: 7px;
    span {
      color: $secondary-color-txt;
    }
  }
}
@media (max-width: 1300px) {
  .footer__column .socials__wrapper {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}
@include wide-screen {
  .footer {
    &__row {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 50px;
      align-items: center;
      padding-bottom: 30px;
    }
    &__column {
      min-height: 300px;
      &:nth-child(1) {
        min-height: 50px;
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: center;
        gap: 30px;
      }
      &:nth-child(2) {
        min-height: 300px;
        padding-left: 0;
      }
      &:nth-child(3) {
        min-height: 300px;
      }
      &:nth-child(4) {
        min-height: 300px;
        padding-left: 0;
      }
      .socials {
        margin: 0;
      }
      &-contact {
        .item {
          gap: 0;
        }
      }
    }
  }
}
@media (max-width: 1020px) {
  .footer {
    &__row {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 50px;
      padding-bottom: 30px;
    }
    &__column {
      margin: 0 auto;
      &:nth-child(1) {
        grid-row: 3/4;
      }
      &:nth-child(2) {
        grid-row: 1/2;
      }
      &:nth-child(4) {
        grid-column: 1/4;
        grid-row: 2/3;
      }
      h4 {
        text-align: center;
      }
    }
  }
}
@include tablet {
  .footer {
    &__row {
      grid-template-columns: 221px;
      grid-template-rows: 1fr 1fr 1fr 50px;
    }
    &__column {
      &:nth-child(1) {
        grid-column: 1/4;
        grid-row: 4/5;
      }
      &:nth-child(2) {
        width: 210px;
        grid-column: 1/4;
        grid-row: 1/2;
      }
      &:nth-child(3) {
        grid-column: 1/4;
        grid-row: 2/3;
      }
      &:nth-child(4) {
        grid-column: 1/4;
        grid-row: 3/4;
      }
    }
  }
}
@include mobile {
  .footer {
    &__container {
      padding-top: 70px;
    }
    &__row {
      grid-template-rows: 1fr 1fr 1fr 189px;
      padding-bottom: 30px;
    }
    &__column{
      &:nth-child(1){
        flex-direction: column;
      }
    &-contact .item {
      flex-direction: column;
      gap: 7px;
    }
  }
    &__copyright {
      font-size: clamp(0.813rem, 0.313rem + 2.5vw, 1.063rem);
    }
  }
}
