.partnership {
  &__heading {
    padding-top: 126px;
  }
  &__inner {
    padding: 50px 10px 126px;
    @include flex(row, flex-start);
    gap: 37px;
  }
  .company {
   @include flex(column, flex-start);
    &__name {
      color: $main;
      padding-top: 22px;
    }
    &__description {
      max-width: 304px;
      line-height: 29px;
      text-align: center;
      padding-top: 16px;
    }
  }
}

@media (max-width: 1291px){
  .partnership__inner{
    max-width: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}
@include tablet{
  .partnership__inner{
    max-width: 304px;
    margin: 0 auto;
    gap: 60px;
    padding-bottom: 70px;
  }
}