[class*="__container"] {
  max-width: $container-width + ($container-padding * 2);
  width: 100%;
  padding: 0 $container-padding;
  margin: 0 auto;
}

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 19px;
  color: $basic-color-txt;
  background-color: $main-bg;

  // height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

h1 {
  @extend %heading-font-weight;
  font-size: clamp(1.875rem, 1.268rem + 3.04vw, 4rem);
  line-height: clamp(3rem, 2.464rem + 2.68vw, 4.875rem);
  letter-spacing: 1.3px;
  color: $wight;
  @include mobile {
    padding-bottom: 10px;
    position: relative;
    &::after {
      @include pseudo(50px, 3px, $accent);
      bottom: 0;
      left: 40%;
    }
  }
}
h2 {
  @extend %heading-font-weight;
  font-size: clamp(1.875rem, 1.661rem + 1.07vw, 2.625rem);
  line-height: 50px;
  text-align: center;
  color: $main;
  padding-bottom: 28px;
  position: relative;
  &::after {
    @include pseudo(50px, 3px, $accent);
    bottom: 0;
    left: 48%;
  }
  @include desktop {
    padding-bottom: 16px;
  }
  @include mobile {
    padding-bottom: 10px;
    &::after {
      left: 44%;
    }
  }
}
.books .books__heading,
.about .about__inner{
  @include wide-screen{
    padding-top: 100px;
  }
  @include tablet{
    padding-top: 70px;
  }
}

h3 {
  @extend %heading-font-weight;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.32px;
  color: $wight;
}
h4 {
  @extend %heading-font-weight;
  font-size: 24px;
}
h5 {
  @extend %heading-font-weight;
  font-size: 22px;
}

.btn-with-bg {
  @extend %heading-font-weight;
  @extend %btn-txt;
  border: 2px solid $accent;
  background-color: $accent;
  transition: all 0.5s ease;
  span {
    color: $main;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.btn-with-border {
  @extend %heading-font-weight;
  @extend %btn-txt;
  border: 2px solid $accent;
  transition: all 0.5s ease;
  span {
    color: $main;
  }
  &:hover {
    transform: scale(1.05);
    background: $accent;
  }
}
