%heading-font-weight {
  font-family: $heading-font;
  font-weight: 400;
}
%hoverlink {
  transition: all 0.7s ease 0s;
  &:hover {
    color: $accent;
  }
}
%flex {
  display: flex;
  align-items: center;
}

%btn-txt {
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.58px;
}

%socials-wrapper {
  text-align: center;
  transition: all 0.7s ease;
}

%custom-list-style {
  position: relative;
  padding-left: 26px;
  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 0;
    top: 7px;
    background: $accent;
    z-index: 10;
  }
}
%custom-list-style-mini {
  content: "";
  position: absolute;
  top: 20px;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  border: 1.5px solid $accent;
}

%photo-border-style {
  border: 10px solid $accent;
  position: relative;
  img {
    position: absolute;
    box-shadow: $shadow-for-photos;
  }
}
