// flex
@mixin flex($flex-direction, $justify-content){
  @extend %flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
// pseudo
@mixin pseudo($width,$height,$color-bg){
  position: absolute;
  content: "";
  width: $width;
  height: $height;
  background: $color-bg;
}
// socials-icons
@mixin socials(
  $size-border,
  $color-border,
  $color-bg,
  $color-icon,
  $hover-color-border,
  $hover-color-bg,
  $hover-color-icon
){
  @extend %socials-wrapper;
  border: $size-border solid $color-border;
  background-color: $color-bg;
  color: $color-icon;
  &:hover {
    border-color: $hover-color-border;
    background-color: $hover-color-bg;
    color: $hover-color-icon;
  }
}

// box-shadow
@mixin box-shadow($x-offset, $y-offset, $blur, $size, $opacity) {
  -moz-box-shadow: $x-offset $y-offset $blur $size rgba(0, 0, 0, $opacity);
  -webkit-box-shadow: $x-offset $y-offset $blur $size rgba(0, 0, 0, $opacity);
  box-shadow: $x-offset $y-offset $blur $size rgba(0, 0, 0, $opacity);
}

@mixin photo-border-style($width-br, $height-br, $top, $left) {
  @extend %photo-border-style;
  width: $width-br;
  height: $height-br;
  img{
    top: $top;
    left: $left;
  }
}
